<div class="container mt-5 pt-3">
  <p *ngIf="addSuccess">
    <ngb-alert type="success" (close)="closeAlert()"> Added Budget!</ngb-alert>
  </p>
  <div class="card card-body mb-3">
    <h1 align="center" style="color:#f7882f">Budget</h1>
    <form [formGroup]="form" (ngSubmit)="submitBudget()">
      <label>Leisure</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">£</span>
        </div>
        <input type="number" class="form-control" name="leisure" [value]="leisure" formControlName="leisure">
      </div>
      <label>Travel</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">£</span>
        </div>
        <input type="number" class="form-control" name="travel" [value]="travel" formControlName="travel">
      </div>
      <label>Electronics & Media</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">£</span>
        </div>
        <input type="number" class="form-control" name="electronicsMedia" [value]="electronicsMedia" formControlName="electronicsMedia">
      </div>
      <label>Food & Drink</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">£</span>
        </div>
        <input type="number" class="form-control" name="foodDrink" [value]="foodDrink" formControlName="foodDrink">
      </div>
      <label>Supermarket</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">£</span>
        </div>
        <input type="number" class="form-control" name="supermarket" [value]="supermarket" formControlName="supermarket">
      </div>
      <label>Other</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">£</span>
        </div>
        <input type="number" class="form-control" name="other" [value]="other" formControlName="other">
      </div>
      <input type="submit" class="btn btn-block" value="Submit">
    </form>
  </div>
</div>
