<nav class="navbar mt-4">
  <a class="navbar-brand brand-text pr-3" href="/">Budg.it</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link nav-text-color mr-3" routerLinkActive="nav-active-link" routerLink="/pet">Pet</a>
      <a class="nav-item nav-link nav-text-color mr-3" routerLinkActive="nav-active-link" routerLink="/budget">Budget</a>
      <a class="nav-item nav-link nav-text-color mr-3" routerLinkActive="nav-active-link"  routerLink="/shop">Shop</a>
      <button (click)="demo()" class="btn">Demo</button>
    </div>
  </div>


  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/spiderdj/undefined-visaHack2019" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/visauk?lang=en" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.instagram.com/visauk/?hl=en" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</nav>
