
<div class="jumbotron">
    <h1 align="center">Shop</h1>
    <hr>
    <!-- items list-->
    <p *ngIf="addSucess">
        <ngb-alert type="success" (close)="closeAlert()"> {{ itemBought }} successfully bought !</ngb-alert>
    </p>
    <div class="row">
        <div class="col-sm-4" style="padding: 1.5em" *ngFor="let item of items">
          <div class="card">
            <p class="card-img-top"><i class="fab fa-accusoft"></i></p>
            <!-- <img src= item.item_img_url class="card-img-top" alt="/.."> -->
            <div class="card-body">
              <hr>
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text"> - {{ item.price }} budget points </p>
              <p class="card-text"> + {{ item.happiness_boost }} pet happiness</p>
              <button class="btn btn-primary" (click)="onBuy(item)">Buy</button>
              </div>
          </div>
      </div>

      </div> <!-- end of row-->
    <!-- end of items list-->
    
</div>

