
<div class="jumbotron">
    <h1 align="center">Shop</h1>
    <hr>
    <!-- items list-->
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Item title</h5>
              <p class="card-text">- 6 game points</p>
              <p class="card-text">+ 6 pet happiness</p>
              <button class="btn btn-primary">Buy</button>
              </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Item title 2</h5>
                <p class="card-text">- 7 game points</p>
                <p class="card-text">+ 7 pet happiness</p>
                <button class="btn btn-primary">Buy</button>
                </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Item title</h5>
                <p class="card-text">- 6 game points</p>
                <p class="card-text">+ 6 pet happiness</p>
                <button class="btn btn-primary">Buy</button>
                </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Item title 2</h5>
                  <p class="card-text">- 7 game points</p>
                  <p class="card-text">+ 7 pet happiness</p>
                  <button class="btn btn-primary">Buy</button>
                  </div>
            </div>
          </div>
      </div> <!-- end of row-->
    <!-- end of items list-->
</div>

