
<div class="container mt-5 pt-3">
    <p *ngIf="addSucess">
        <ngb-alert type="success" (close)="closeAlert()"> {{ itemBought }} successfully bought !</ngb-alert>
    </p>
    <h1 align="center" style="color:#f7882f">Shop</h1>
    <hr>
    <button class="btn" (click)="getUser()">getUser</button>
    <!-- items list-->
    <div class="row">
        <div class="col-sm-4 " style="padding: 1.5em" *ngFor="let item of items">
          <div class="card bgcard">
            <p class="card-img-top"><i class="fab fa-accusoft"></i></p>
            <img [src]="item.ITEM_IMG_URL" style="padding: 3em" class="card-img-top" width="70%" height="300%">
            <div class="card-body">
              <hr>
              <h5 class="card-title">{{ item.ITEM_TYPE_NAME }}</h5>
              <p class="card-text"> - {{ item.PRICE }} coins </p>
              <p class="card-text"> + {{ item.HAPPINESS_BOOST }} pet happiness</p>
              <button class="btn" (click)="onBuy(item)">Buy</button>
              </div>
          </div>
      </div>

      </div> <!-- end of row-->
    <!-- end of items list-->   
</div>

